HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Package Files #
*.ear
*.tar.gz
*.rar
*.cmd
*.classpath
*.settings
*.project
*.mvn
mvnw
target
*.DS_Store